# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python 
api/venv/
__pycache__
api/*.log

# mongodb
api/data/db/diagnostic.data/
api/data/db/journal/
api/data/db/*.wt
api/data/db/*.lock
api/data/db/storage.bson
api/data/db/*.turtle
api/data/db/WiredTiger