.ChessSquare {
    pointer-events: stroke;
    cursor: pointer;
    	
    // White tile
	&[data-color="false"] {
		background: var(--chess-white-tile);
	}

    // Black tile
	&[data-color="true"] {
		background: var(--chess-black-tile);
	}
}
